/* --------------------------------------------------------------------------------------
Header
--------------------------------------------------------------------------------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: (20 / $remSize) + rem  (50/$remSize) + rem;
    h1 {
        margin: 0;
    }
}

.gnav {
    @include rem(21);
    ul {
        li {
            display: inline-block;
            margin: 0 (25/$remSize) + rem;
        }
    }
}

