/*-------------------------------------------------------*\
    Mixins
/*-------------------------------------------------------*/
//	Font size
@mixin rem($size) {
	font-size: $size + px;
	font-size: ($size/$remSize) + rem;
}

//transition
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


//	Placeholder
@mixin placeholder ($size, $color, $font){
	&::placeholder {
		@include rem($size);
		font-family: $font;
		color: $color;
	}
}


//	Ajust middle
@mixin middle {
	height: $height + px;
	position: absolute;
	top: 50%;
	margin-top: -($height / 2) + px;
}

//	Clearfix
@mixin clearfix {
        @if $support-ie6 or $support-ie7 {
            *zoom: 1;
        }
        &:after {
            content: "."; 
            display: block;
            clear: both;
            height: 0; 
            visibility: hidden;
        }
}

//	Breakpoints
@mixin break-at($point) {
	@media screen and (min-width: $point)  {
			@content;
	}
}

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}


@mixin retinize ($ratio) {
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio) {
			@content;
	}
}



//丸画像
@mixin circle($size) {
     width: $size;
     height: $size;
     border-radius: 100%;
}

//角丸
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
      -moz-border-radius-topleft: $radius;
          border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
      -moz-border-radius-topright: $radius;
          border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
      -moz-border-radius-bottomright: $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
      -moz-border-radius-bottomleft: $radius;
          border-bottom-left-radius: $radius;
}

//ドロップシャドウ
@mixin box_shadow($value...) {
    -webkit-box-shadow: $value;
       -moz-box-shadow: $value;
        -ms-box-shadow: $value;
            box-shadow: $value;
}

//タイトル関係
@mixin title--beta ($bg-color,$color,$padding) {
    background-color: $bg-color;
    color:$color;
    padding: $padding;
}

@mixin title--ghost ($bgColor,$borderSize,$borderColor,$color,$padding,$fontSize) {
    background-color:$bgColor;
    border: $borderSize solid $borderColor;
    color: $color;
    padding: $padding;
    font-size: $fontSize;
}
