/*-------------------------------------------------------*\
    Typography
/*-------------------------------------------------------*/
html, body  {
	font-family: $gothic;
}
html {
	font-size: 10px;
}

html {
	line-height: 1.875;
	font-size: 14px;
	font-weight: 300;
}

@media screen and (min-width : $widthTab) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width : $widthPC) {
	html {
		font-size: $remSize + px;
	}
}

.gothic {
	font-family: $gothic;
}

.mincho {
	font-family: $mincho;
}

/* --------------------------------------------------------------------------------------
 HEAD LINE
--------------------------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin: 0;
}
h1 {
	font-size: 1.5em;
	line-height: 1.5;
}

h2 {
	font-size: 1.3333em;
	line-height: 1.3333;
}

h3 {
	font-size: 1.25em;
	line-height: 1.3333;
}

h4,h5,h6 {
	font-size: 1.15em;
	line-height: 1.5;
}



