/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/
// Color Settings
$blk: #222;
$yellow: #ffd61a;
$bgGray: #fafafa;
$wht:#fff;




$paleWht:#fafafa;
$paleGray: #f8f8fa;
$lightGray: #c9c9c9;
$mediumGray: #636363;
$darkGray:#595757;

$palePrimaryColor: #e9f5ec;
$primaryColorBorder: #9ed7ac;
$attentionColor: #ec1e62;


//	Colors 
$primaryColor: #10ad52 !default;
$secondaryColor: #0e8353 !default;
$tertiaryColor: #4abc95;
$effectiveColor: #ffd400;

$dominantColorA:#d75313;
$dominantColorB:#dfc200;
$dominantColorC:#9cca54;
$dominantColorD:#7abf5f;
$dominantColorE:#02993b;
$dominantColorF:#084b36;

//LinkColor
$primaryLink: $blk;
$secondaryLink: $tertiaryColor;

$txtColor: $blk;
$secondaryTxt: $mediumGray;
$titColor: #000;

//BorderColor
$border:#cacaca;
$paleBorder: $paleGray;

//TagColor
$outdoor:#e84d18;
$indoor: $primaryColor;
$tools: #2a1be2;


// BG
$bg: $wht;
$sidebarBg: rgba(255,255,255,1);
$footerBg: #353636;
$bodyBg: #fff;
$formBg: #eeeeee;
$addressBg: #2a2a2a;
$footerTxt: #a5a5a5;
$soldoutBg: $darkGray;

//bread crumb
$breadCrumbBg: $wht;
$breadCrumbTxt: #bbb;
$breadCrumbLink: $primaryColor;
$breadCrumbHover: $tertiaryColor;
$marqueeColor: $primaryColor;

//ボタン関係
$addCartBg: $secondaryColor ;


//見出し関係
$circleIcon: "\f1db";
$phoneIcon: "\f098";
$commentIcon: "\f075";
$plusIcon: "\f067";
$minusIcon:"\f068";
$squareIcon:"\f0c8";
$handshakeIcon:"\f2b5";
$heart: "\f004";
$clock: "\f017";
$commenting: "\f27b";

// path
$img_path: "../img";
$font_path: "../fonts";

//types
$gothic: 'Open Sans', '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$mincho: 'Times New Roman', '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
$fontAwsome: "FontAwesome";


//サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : true;

// Width
$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSP: 568px; //スマートフォン
//画面サイズ
$primaryWidth: 1040px;
$secondaryWidth: 640px;
$widthMaximum: 1040px;

$innerWidth: $secondaryWidth;

//font Size
$remSize: 16;