@import './_mixins.scss';
@import './_variables.scss';
@import './_reset.scss';
@import './_sanitize.scss';
@import './_typo.scss';
@import './_footer.scss';
@import './_header.scss';



/* --------------------------------------------------------------------------------------
Common
--------------------------------------------------------------------------------------- */
img {
    max-width: 100%;
}
a {
    @include transition(.3s);
    &:visited,
    &:link {
        color: $blk;
    }
    &:hover {
        color: $yellow;
    }
    
}

.no-scroll {
    pointer-events: none;
}
.introduction {
    width: 100%;
    height: (500 / $remSize) + rem;
    display: table;
    background-image: url('../images/mainbg.png');
    background-size: cover;
    .introduction__title {
        @include rem(48);
        color: #fff;
        text-align: center;
        width: 100%;
        line-height: 1;
        margin-bottom: (30/$remSize) + rem;
    }
    .copy {
        @include rem(36);
        color: $wht;
        text-align: center;
    }
}

.introduction__wrap {
    display: table-cell;
    vertical-align: middle;
}

%section-title {
    @include rem(24);
    margin-bottom: (30/$remSize) + rem;
    text-align: center;
}

%top-section {
    padding-top: (60 / $remSize) + rem;
    text-align: center;
    .title {
        @include rem(24); 
        margin-bottom: (30/$remSize) + rem;
    }
    .sub-heading {
        margin-bottom: (30/$remSize) + rem;
    }
    .description {
        margin-bottom:(80 / $remSize) + rem;
        p {
            margin-bottom: (40 / $remSize) + rem;
        }   
    }
}

.about {
    @extend %top-section; 
    background-color: $bgGray;
}

.about__title{
    @extend %section-title;
    color: #ffd61a;
}
.sub-heading {
    @include rem(18);
    font-weight: normal;
    margin-bottom: (60 / $remSize) + rem;
}

.about {
    .description {
        margin-bottom:(80 / $remSize) + rem;
        p {
            margin-bottom: (40 / $remSize) + rem;
        }   
    }
}

.about__images {
    display: flex;
    align-items: top;
    width: 100%;
    li {
        width: 25%;
        img {
            width: 100%;
        }
    }
}
.course {
    @extend %top-section;
    .description {
        margin-bottom: (60/$remSize) + rem;
        p {
            text-align: center;
        }
    }
}

.course__title {
    @extend %section-title;
}

.course__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $bgGray;
    dt {
        width: 50%;
        height: 100%;
        img {
            width: 100%;
        }
         .course__list-inner {
            float: right;
        }
    }
    dd {
        width: 50%;
        height: 100%;
        align-items: center;
        img {
            width: 100%;
        }
        .course__list-inner {
            float: left;
        }
    }
}
.course__list-inner {
    margin: 0 (50/$remSize) + rem;
    width: (480/$remSize) + rem;
    text-align: left;
    h3 {
        @include rem(24);
        margin-bottom: (40/$remSize) + rem;
    }
}

.news {
    @extend %top-section;
    .btn-area {
        margin-bottom: (60/$remSize) + rem;
    }
}

.news__title {
    color: $yellow;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-bottom: (60/$remSize) + rem;
    @include rem (14);
    li {
        width: (300/$remSize) + rem;
        margin: 0 (15/$remSize) + rem;
        img {
            margin-bottom: (30/$remSize) + rem;
        }
        time {
            display: inline-block;
            line-height: 1;
            margin-bottom: (24/$remSize) + rem;
        }
    }
}


.access {
   @extend %top-section;
   background-color: $bgGray;
}
.btn {
    width: 300px;
    background-color: $yellow;
    color: $wht;
    height: (60/ $remSize) + rem;
    @include rem (18);
    @include transition(.3s);
    &:hover {
        background-color: darken($yellow, 10%);
    }
}

.map-area {
    margin-bottom: (60/$remSize) + rem;
}
.company-information {
    width: 100%;
    padding-bottom: (60/$remSize) + rem;
    display: flex;
    justify-content: center;
    text-align: center;
    table {
        line-height: 1;
        text-align: left;
        th,td {
            font-weight: normal;
            padding-bottom: (30/$remSize) + rem;
        }
        th {
            padding-right: (50/$remSize) + rem;
        }
    }
}

.contact {
    @extend %top-section;
}

.contact-form {
    @include rem(14);
    max-width: $innerWidth;
    margin: 0 auto (140/$remSize) + rem;
    .row{
        .left {
            width: (240 / 640 * 100) + %;
            padding: (8/$remSize) + rem (64/$remSize) + rem (8/$remSize) + rem (16/$remSize) + rem;
        }
        .right {
            padding: (8/$remSize) + rem;
            input[type="text"] {
                width: (328/$remSize) + rem;
                padding: 0 (5/$remSize) + rem;
            }
            select {
                border: 1px solid $border;
                border-radius: 0;
                appearance: none;
                width: (328/$remSize) + rem;
                padding: 0 (5/$remSize) + rem;
            }
            textarea {
                width: (328/$remSize) + rem;
                border: 1px solid $border;
            }
        }
    }
    .row:last-of-type {
        margin-bottom: (30/$remSize) + rem;
    }
}

.form-select {
    position: relative;
    &::before{
        content: "\f078";
        position: absolute;
        right: 0; 
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

input,select {
    border: 1px solid $border;
    line-height: (34/$remSize) + rem;
    padding: 0;
}

.row {
    text-align: left;
    width: 100%;
    display: flex;
}

*:before, *:after {
    font-family: "FontAwesome";
}

.checkbox-area {
    line-height: 1;
    li {
        margin-bottom: (24/$remSize) + rem;
    }
    input[type=checkbox] {
        display: none;
    }
    .checkbox-icon {
        &::before {
            content: '\f0c8';
            color: #f0ebe5;
            @include rem(20);
            padding-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .checkbox:checked + .checkbox-icon {
        &::before {
            content: '\f00c';
            color: #5a4c3c;
        }
    }
}
.to-top {
    position: fixed;
    right: (20/$remSize) + rem;
    bottom: (20/$remSize) + rem;
    width: (50/$remSize) + rem;
    height: (50/$remSize) + rem;
    background-color: $yellow;
    border-radius:  (50/$remSize) + rem;
    text-align: center;
    @include transition(.3s)
    &:hover{
        background-color: $blk;
    }
    a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        &::before {
            content: "\f062";
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    
}

